.header {
  text-align: center;
  margin-bottom: 20px;
}

.header-text {
  font-size: 18px;
}

.content {
  height: 250px;
  margin-top: 40px;
}

.content img {
  margin-left: auto;
  margin-right: auto;
}
